name: 03-01 - Deploy Project
on: [workflow_dispatch]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v6
      - name: Install NodeJS
        uses: actions/setup-node@v6
        with:
          node-version: 18
      - name: Install dependencies
        run: | 
          cd 03-react-demo
          npm ci
      - name: Run tests
        run: |
          cd 03-react-demo
          npm test
  deploy:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v6
      - name: Install NodeJS
        uses: actions/setup-node@v6
        with:
          node-version: 18
      - name: Install dependencies
        run: | 
          cd 03-react-demo
          npm ci
      - name: Build project
        run: |
          cd 03-react-demo
          npm run build
      - name: Deploy
        run: echo "Deploying ..."          